<div class="side-container" *ngIf="open" [@enterAnimation]>
  <div class="close-button-container" (click)="closeClicked()">
    <mat-icon>chevron_right</mat-icon>
  </div>
  <div class="day-view-container">
    <div class="day-title">
      <h2 class="no-margin text-center">{{day?.mDate.format('dddd, MMM Do YYYY')}}</h2>
    </div>
    <div class="divider-title"></div>
    <app-event-list
      class="event-list"
      [editable]="canEdit"
      [events]="day?.events"
      (selected)="eventClicked($event)"
      (delete)="deleteClicked($event)"
    ></app-event-list>
    <!-- <button mat-mini-fab class="add-button" (click)="newClicked()" color="accent">
      <mat-icon>add</mat-icon>
    </button> -->
  </div>
</div>
