.category-manager-body {
  height: 450px;
  overflow-y: auto;
}

.color-picker {
  width: 23px;
  margin-right: 5px;
}

.category-name {
  width: 80%;
  margin-right: 10px;
}

.add-button {
  position: absolute;
  right: 5px;
  top: 5px;
}
