.friends-list-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 50;
}

.friends-list {
  width: 260px;
  height: 310px;
  padding: 5px;
}

.friends {
  height: 215px;
  overflow-y: auto;
  padding: 10px;
  text-align: left;
}

h3 {
  margin: 0px;
  padding-bottom: 10px;
}

.friend {
  display: flex;
  margin-bottom: 20px;
}

.username {
  padding-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.edit-button {
  margin-right: 10px;
}

.add-button {
  margin-top: 10px;
}
