<div class="friends-list-container" (click)="$event.stopPropagation()">
  <mat-menu #friendMenu="matMenu" [overlapTrigger]="false">
    <div class="friends-list" (click)="$event.stopPropagation()">
      <h3 class="text-center accent-text">Friends List</h3>
      <mat-divider></mat-divider>
      <div class="friends">
        <ng-container *ngIf="friends | async; let friendList">
          <div class="friend" *ngFor="let friend of friendList">
            <span *ngIf="friend.tag; else username" class="username">{{friend.tag}}</span>
            <ng-template #username><span class="username">{{friend.username}}</span></ng-template>
            <div class="spacer"></div>
            <span>
              <button class="edit edit-button" mat-mini-fab (click)="editFriend(friend)">
                <mat-icon aria-label="Edit Friend">edit</mat-icon>
              </button>
            </span>
            <span>
              <button color="warn" mat-mini-fab (click)="removeFriend(friend.id)">
                <mat-icon aria-label="Remove Friend">close</mat-icon>
              </button>
            </span>
          </div>
          <div class="text-center" *ngIf="friendList.length === 0">Friends list is empty...</div>
        </ng-container>
      </div>
      <div class="center-container add-button">
        <button class="text-center" color="accent" mat-raised-button (click)="addFriend()">Add a Friend</button>
      </div>
    </div>
  </mat-menu>
  <button color="primary" mat-fab [matMenuTriggerFor]="friendMenu">
    <mat-icon aria-label="Friends List Button">group</mat-icon>
  </button>
</div>
