.friends-list-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.friends-list {
  min-width: 200px;
  padding: 5px;
}

.friends {
  padding: 10px;
  text-align: left;
}

h3 {
  margin: 0px;
  padding-bottom: 10px;
}
