<div class="friends-list-container" (click)="$event.stopPropagation()">
  <mat-menu #friendMenu="matMenu" [overlapTrigger]="false">
    <div class="friends-list" (click)="$event.stopPropagation()">
      <h3 class="text-center accent-text">Friends List</h3>
      <mat-divider></mat-divider>
      <div class="friends">
        <!-- Test text -->
        <div>Zachary Kipping</div>
        <div>Michael Templeton</div>
        <div>Jonah Witcig</div>
        <div>Tristan Day</div>
        <div>Ali Ishkuntana</div>
        <div>Slavic Sidorov</div>
      </div>
      <div class="center-container">
        <button class="text-center" color="accent" mat-raised-button (click)="addFriend()">Add Friend</button>
      </div>
    </div>
  </mat-menu>
  <button color="primary" mat-fab [matMenuTriggerFor]="friendMenu">
    <mat-icon aria-label="Friends List Button">group</mat-icon>
  </button>
</div>
