.mat-button {
  font-size: 20px;
}

.landing-container {
  height: 100vh;
}

.logout-button {
  font-size: 16px;
}

.accent {
  border-radius: 0px;
}

.side-nav {
  position: fixed;
  left: 0px;
  top: 64px;
  z-index: 100;
  width: 140px;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  height: 99vh;
}

.navbar {
  top: 0px;
  height: 64px;
  position: fixed;
  z-index: 100;
}
