<mat-toolbar class="navbar" color="primary">
  <span>Sacred Calendar</span>
  <span class="spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button routerLinkActive="accent-text" routerLink="/calendar">Calendar</button>
    <button mat-button routerLinkActive="accent-text" routerLink="/stats">Stats</button>
    <button mat-button class="logout-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </div>
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-mini-fab color="accent" (click)="sideNavOpen = !sideNavOpen">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="side-nav" fxShow="true" fxHide.gt-sm="true" *ngIf="sideNavOpen">
  <button mat-button class="accent" (click)="sideNavOpen = false">Close</button>
  <button mat-button routerLinkActive="accent-text" routerLink="/calendar">Calendar</button>
  <button mat-button routerLinkActive="accent-text" routerLink="/stats">Stats</button>
  <button mat-button class="logout-button" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Log Out</span>
  </button>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
<div class="overlay" [class.overlay]="sideNavOpen" fxShow="true" fxHide.gt-sm="true"></div>


<app-notifications></app-notifications>
<app-friends-list></app-friends-list>
