.category-manager-body {
  height: 450px;
  overflow-y: auto;
}

.color-picker-input {
  width: 23px;
  margin-right: 10px;
  vertical-align: initial;
  position: relative;
  color: transparent;
  text-shadow: 0 0 0 transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.category-name {
  width: 80%;
  margin-right: 10px;
}

.add-button {
  position: absolute;
  right: 5px;
  top: 5px;
}
