.category-manager-body {
  height: 450px;
  overflow-y: auto;
}

.color-picker-input {
  margin-top: 20px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: initial;
  position: relative;
  color: transparent;
  text-shadow: 0 0 0 transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.category-name {
  width: 70%;
  margin-right: 10px;
}

.delete-button {
  margin-top: 5px;
}

.add-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.category-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}