.event {
  width: calc(100% - 20px);
  position: relative;
  border-radius: 5px;
  border: 2px solid white;
  background-color: grey;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  right: 1px;
  top: 1px;
}

.events-container .event:not(:first-child) {
  margin-top: 10px;
}

.divider {
  margin: 5px 0px;
  border: 1px solid white;
  width: 100%;
}
