<ng-container *ngIf="requests$ | async; let requests">
  <div class="friend-requests-container" (click)="$event.stopPropagation()">
    <mat-menu #requestsMenu="matMenu" [overlapTrigger]="false">
      <div class="friend-requests" (click)="$event.stopPropagation()">
        <h3 class="text-center accent-text">Friend Requests</h3>
        <mat-divider></mat-divider>
        <div class="requests">
          <div class="request" *ngFor="let request of requests">
            <span class="username">{{request.username}}</span>
            <div class="spacer"></div>
            <span class="accept">
              <button class="success" mat-mini-fab (click)="acceptFriendRequest(request.id)">
                <mat-icon aria-label="Accept Request">check</mat-icon>
              </button>
            </span>
            <span>
              <button color="warn" mat-mini-fab (click)="denyFriendRequest(request.id)">
                <mat-icon aria-label="Deny Request">close</mat-icon>
              </button>
            </span>
          </div>
          <div class="text-center" *ngIf="requests.length === 0">You have no Friend Requests</div>
        </div>
      </div>
    </mat-menu>
    <button color="primary" mat-fab [matMenuTriggerFor]="requestsMenu">
      <mat-icon aria-label="Friend Requests Button">notifications</mat-icon>
    </button>
    <button class="requestsCount" color="accent" mat-mini-fab [matMenuTriggerFor]="requestsMenu">
      {{requests.length}}
    </button>
  </div>
</ng-container>
