<mat-card class="view-container">
  <mat-grid-list cols="7" rowHeight="2.5:1">
    <mat-grid-tile><button mat-mini-fab color="accent" (click)="previousMonth()"><mat-icon aria-label="Previous Month Button">chevron_left</mat-icon></button></mat-grid-tile>
    <mat-grid-tile colspan="5"><h1>{{currentMonthYear.format('MMMM')}}, {{currentMonthYear.year()}}</h1></mat-grid-tile>
    <mat-grid-tile><button mat-mini-fab color="accent" (click)="nextMonth()"><mat-icon aria-label="Next Month Button">chevron_right</mat-icon></button></mat-grid-tile>
    
    <mat-grid-tile>Sunday</mat-grid-tile>
    <mat-grid-tile>Monday</mat-grid-tile>
    <mat-grid-tile>Tuesday</mat-grid-tile>
    <mat-grid-tile>Wednesday</mat-grid-tile>
    <mat-grid-tile>Thursday</mat-grid-tile>
    <mat-grid-tile>Friday</mat-grid-tile>
    <mat-grid-tile>Saturday</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="7" rowHeight="1:1">
    <mat-grid-tile class="date" (click)="selectDate(day)" *ngFor="let day of days" [class.today]="day.today" [class.selected]="day.selected">
      <mat-grid-tile-header class="date-header">{{day.mDate.format('D')}}</mat-grid-tile-header>
      <div class="tile-body">
        <div class="event blue-background">some event</div>
        <div class="event green-background">some event</div>
        <div class="event purple-background">some event</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
