@import "../../../theme/sc-theme-mixins.scss";

.week-day {
  border: 2px solid mat-color($sc-primary, 500);
}

.date-header {
  background: mat-color($sc-accent, 500);
  padding: 5px !important;
  height: auto !important;
}
.date {
  background: rgba(0,0,0,.38);
}

.mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header {
  background: mat-color($sc-accent, 500);
}

.tile-body {
  margin-top: 25px;
  padding: 3px;
}

mat-grid-tile-header .today-tag {
  margin-left: 5px;
}

.event {
  font-size: 12px;
  margin-top: 2px;
  padding: 0px 4px;
  background: grey;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  border: 1px solid white;
}

.event-ellipse {
  font-size: 14px;
}

.blue-background {
  background: mat-color($sc-primary, 500);
}

.green-background {
  background: green;
}

.purple-background {
  background: purple;
}

::ng-deep .date .mat-figure {
  display: block !important;
}

.today {
  background: rgb(122, 3, 112);
}

.selected {
  background: mat-color($sc-primary, 300);
}

.disabled {
  height: 102.33px;
  width: 97.42px;
  top: 0;
  left: 0;
  background: grey;
  opacity: 0.85;
  position: absolute;
  z-index: 5;
}
