.container {
  margin: 0px auto;
  max-width: 720px;
}

.add-event-button {
  position: absolute;
  top: 0;
  right: 0;
}

#calendarContainer {
  overflow: hidden;
}

.mat-drawer-container {
  background: inherit;
}

mat-toolbar-row button {
  margin-right: 10px;
}

.calendar-toolbar {
  top: 64px;
  height: 56px;
  position: fixed;
  z-index: 50;
  max-width: 720px;
}

.loading {
  margin-top: 140px;
}
