@import "../../../theme/sc-theme-mixins.scss";

.notifications-container {
  display: relative;
  position: fixed;
  bottom: 10px;
  right: 90px;
  z-index: 50;
}

.notifications {
  width: 260px;
  height: 325px;
  padding: 5px;
}

.tab-content {
  height: 230px;
  overflow-y: auto;
  padding: 10px;
  text-align: left;
}

h3 {
  margin: 0px;
  padding-bottom: 10px;
}

.notificationsCount {
  position: absolute;
  top: -15px;
  right: -15px;
}

.notification {
  display: flex;
  margin-bottom: 23px;
}

.username {
  padding-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.accept {
  margin-right: 10px;
}

.tabs {
  background-color: #0b5394;
  color: white;
  width: 270px;
  margin-left: -5px;
  display: flex;
  margin-bottom: 10px;
}

.right-border {
  border-right: 2px solid white;
}

.tab {
  cursor: pointer;
  width: 50%;
  padding: 10px;
}
