<div class="notifications-container" (click)="$event.stopPropagation()">
  <mat-menu #requestsMenu="matMenu" [overlapTrigger]="false">
    <div class="notifications" (click)="$event.stopPropagation()">
      <button class="close-menu-button" color="warn" mat-mini-fab (click)="closeMenu()">
        <mat-icon aria-label="Close Friends List">close</mat-icon>
      </button>
      <h3 class="text-center accent-text">Notifications</h3>
      <div class="tabs">
        <div class="tab text-center right-border" [class.accent-text]="tab === 'requests'" aria-label="Friend Requests" (click)="tab = 'requests'">Requests</div>
        <div class="tab text-center" [class.accent-text]="tab === 'invites'" aria-label="Event Invites" (click)="tab = 'invites'">Invites</div>
      </div>
      <div class="tab-content" *ngIf="tab === 'requests'">
        <div class="notification" *ngFor="let request of requests">
          <span class="username">{{request.username}}</span>
          <div class="spacer"></div>
          <span class="accept">
            <button class="success" mat-mini-fab (click)="acceptFriendRequest(request.id)">
              <mat-icon aria-label="Accept Request">check</mat-icon>
            </button>
          </span>
          <span>
            <button color="warn" mat-mini-fab (click)="denyFriendRequest(request.id)">
              <mat-icon aria-label="Deny Request">close</mat-icon>
            </button>
          </span>
        </div>
        <div class="text-center" *ngIf="requests.length === 0">You have no Friend Requests</div>
      </div>
      <div class="tab-content" *ngIf="tab === 'invites'">
        <div class="notification" *ngFor="let invite of invites">
          <span *ngIf="invite.tag; else username" class="username">{{invite.tag}}</span>
          <ng-template #username><span class="username">{{invite.username}}</span></ng-template>
          <div class="spacer"></div>
          <span class="accept">
            <button class="edit" mat-mini-fab (click)="viewEventInvite(invite)">
              <mat-icon aria-label="View Event">visibility</mat-icon>
            </button>
          </span>
          <span>
            <button color="warn" mat-mini-fab (click)="denyEventInvite(invite.id)">
              <mat-icon aria-label="Deny Event Invite">close</mat-icon>
            </button>
          </span>
        </div>
        <div class="text-center" *ngIf="invites.length === 0">You have no Event Invites</div>
      </div>
    </div>
  </mat-menu>
  <button color="primary" mat-fab [matMenuTriggerFor]="requestsMenu">
    <mat-icon aria-label="Friend Requests Button">notifications</mat-icon>
  </button>
  <button class="notificationsCount" color="accent" mat-mini-fab [matMenuTriggerFor]="requestsMenu">
    {{requests.length + invites.length}}
  </button>
</div>
