.description {
  resize: vertical;
  max-height: 200px;
  min-height: 100px;
}

.event-form-body {
  height: 450px;
  overflow-y: auto;
}

.wipe-text {
  margin-bottom: 10px;
}

.event-buttons {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.end-time {
  margin-bottom: 10px;
}
