<h1 mat-dialog-title>Event Form</h1>
<form [formGroup]="eventForm">
  <div mat-dialog-content class="event-form-body">
    <mat-form-field class="full-width">
      <input matInput formControlName="name" placeholder="Name" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea class="description" matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="location" placeholder="Location">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="datePicker" formControlName="date" placeholder="Choose a date"  required>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #datePicker></mat-datepicker>
    </mat-form-field>
    <div class="warn-text text-center wipe-text" *ngIf="invites.length !== 0">Changing the start or end time will wipe your friend invites!</div>
    <ngx-material-timepicker #pickerStart></ngx-material-timepicker>
    <mat-form-field class="full-width">
      <input matInput [ngxTimepicker]="pickerStart" formControlName="startTime" placeholder="Start Time"  required>
    </mat-form-field>
    <ngx-material-timepicker #pickerEnd></ngx-material-timepicker>
    <mat-form-field class="full-width">
      <input matInput [ngxTimepicker]="pickerEnd" formControlName="endTime" placeholder="End Time">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select formControlName="categoryID" placeholder="Category">
        <mat-option disabled value="" selected>Select a Category</mat-option>
        <mat-option *ngFor="let category of categories | async" [value]="category.id" [style.color]="category.fontColor" [style.backgroundColor]="category.color">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <div class="event-buttons">
      <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
      <button mat-raised-button [disabled]="!eventForm.get('startTime')?.valid" color="primary" (click)="inviteFriends()">Invite Friends</button>
      <button mat-raised-button [disabled]="!eventForm.valid" class="success" [mat-dialog-close]="submitEvent()">Submit</button>
    </div>
  </div>
</form>
