@import "./theme/sc-theme-mixins.scss";

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #262626;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
}

.main-container {
  margin-top: 64px;
}

.overlay{
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 75;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.category-dialog {
  position: relative !important;
}

.spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card .mat-card-header .mat-card-header-text {
  margin: 0 auto;
}

.primary-text {
  color: mat-color($sc-primary, 500) !important;
}

.accent-text {
  color: mat-color($sc-accent, 500) !important;
}

.warn-text {
  color: mat-color($sc-warn, 500) !important;
}

.success-text {
  color: mat-color($sc-success, 500) !important;
}

.edit {
  background: mat-color($sc-edit, 500) !important;
}

.success {
  background: mat-color($sc-success, 500) !important;
}

.primary {
  background: mat-color($sc-primary, 500) !important;
}

.accent {
  background: mat-color($sc-accent, 500) !important;
}

a {
  text-decoration: none;
}

// keyframes for the loading-spinner
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loading-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid mat-color($sc-accent, 500);
  border-top: 4px solid white;
  border-radius: 50%;
  margin: 0 auto;
  display: block;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ellipse-text {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

// ngx-color-picker dark theme overrides

.color-picker .hex-text .box div {
  color: white !important;
}

.color-picker {
  border: #fff solid 1px !important;
  border-radius: 3px !important;
  background-color: #464646 !important;
  color: white !important;
}

.color-picker .type-policy {
  color: white !important;
  background-color: white !important;
}

.button-area button:nth-child(1) {
  background-color: mat-color($sc-warn, 400) !important;
  margin-right: 68px;
}

.button-area button:nth-child(2) {
  background-color: mat-color($sc-primary, 500) !important;
}

div.box div {
  color: white !important;
}

// ngx-time-picker dark theme overrides

.clock-face__number span {
  color: white !important;
}

.clock-face {
  background-color: mat-color($sc-accent, 500) !important;
}

.timepicker__body {
  background-color: #363636 !important;
}

.timepicker__actions {
  background-color: #363636 !important;
}

.mat-menu-panel {
  max-width: none !important;
  margin-bottom: 5px !important;
  overflow: hidden !important;
}

// .cdk-overlay-connected-position-bounding-box {
//   right: 10px !important;
//   bottom: 80px !important;
// }
